p {
	color: blue;
	font-size: 60px;
	text-align: center;
}
p1 {
	color: blue;
	font-size: 40px;
	text-align: left;
}
p2 {
	color: black;
	font-size: 30px;
	text-align: center;
}
p3 {
	color: black;
	font-size: 30px;
	text-align: center;
}

