p {
	color: rgb(8,161,236);
	font-size: 50px;
	text-align: center;
}
p1 {
	color: rgb(16,197,236);
	font-size: 40px;
	text-align: center;
}
p2 {
	color: black;
	font-size: 30px;
	text-align: left;
}
p3 {
	color: rgb(90,201,244);
	font-size: 30px;
	text-align: left;
}


