p {
	color: rgb(255,90,0);
	font-family: Verdana;
	font-size: 50px;
	text-align: center;
}
p1 {
	color: rgb(251,139,0);
	font-family: Verdana;
	font-size: 40px;
	text-align: center;
}
p2 {
	color: black;
	font-family: Verdana;
	font-size: 30px;
	text-align: left;
}
p3 {
	color: rgb(255,193,0);
	font-family: Verdana;
	font-size: 30px;
	text-align: left;
}
div.first {
	background: rgb(255, 255, 255);
	height: auto;
	width: auto;
}

